body{
    background-color: rgb(178, 108, 243);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: rgb(37, 13, 68);
}