
h1{
    color: crimson;
    font-size: 50px;
}
p{
    color: darkblue;
    font-size: 20px;
}

.warning{
    color: deeppink;
    background-color: mediumblue;
    font-size: 40px;
}

#note1 {
    color: mediumvioletred;
}

.comment{
    border: 4px solid springgreen;
    padding: 5px;
    background-color: violet;
}
